/*                       *\
   Styles by DrummerHead
\*                       */

html {
  font-size: 100%;
  overflow-y: auto;
  -webkit-test-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
  color: #444;
  overflow: hidden;
}
a,
strong,
em {
  -webkit-transition: 0.25s linear all;
     -moz-transition: 0.25s linear all;
      -ms-transition: 0.25s linear all;
       -o-transition: 0.25s linear all;
          transition: 0.25s linear all;
}
a {
  color: #aaa;
  text-decoration: none;
}
a:visited {
  color: #aaa;
}
a:hover {
  color: #06e;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
strong {
  font-weight: normal;
}
em {
  color: #444;
  font-style: normal;
}
a:hover strong {
  color: inherit;
  border-bottom: 1px dotted #06e;
}
a:hover em  {
  color: #06e;
}


.vcard {
  max-width: 31em;
  padding: 0 2em 2em;
  margin: 0 auto;
}
[role='banner'] {
  padding: 0 0 0 7em;
}
.photo {
}
h1 {
  font-size: 2em;
  margin: 0;
}
.fn {
  display: none;
}
dl {
  clear: both;
  margin: 1em 0;
  padding: 1em 0;
  border-top: 1px solid #eee;
}
dl:before,
dl:after {
  content: '';
  display: table;
}
dl:after {
  clear: both;
}
dt {
  width: 7em;
  float: left;
  max-width: 100%;
  overflow: hidden;
}
dd {
  float: right;
  width: 24em;
  clear: right;
  margin: 0;
}
@media screen and (max-width: 577px) {
  .vcard {
    padding: 0 1em 1em;
  }
  [role='banner'] {
    padding: 0;
    text-align: center;
  }
  dt {
    float: none;
    width: auto;
    font-weight: bold;
  }
  dd {
    float: none;
    width: auto;
  }
}
@media screen and (max-width: 417px) {
  body {
    font-size: .9em;
  }
  dd {
    padding: .2em 0;
  }
}
