// Media breakpoints
/////////////////////

$alpha: (min-width: 417px);
$bravo: (min-width: 577px);


// Color scheme
/////////////////////

$dark: #444;
$secondary: #aaa;
$actionable: #06e;
$subtle: #eee;
