// Media breakpoints
/////////////////////

$alpha: '(min-width: 417px)';
$bravo: '(min-width: 577px)';
$zulu: '(min-aspect-ratio: 9 / 7) and (min-width: 730px)';


// Color scheme
/////////////////////

$dark: #444;
$secondary: #aaa;
$actionable: #06e;
$subtle: #eee;
