.vcard {
  max-width: 27.5em;
  margin: 0 auto;
  padding: 0 1em 1em;
}

[role='banner'] {
  padding: 0;
  text-align: center;
}

@media #{$bravo} {
  .vcard {
    padding: 0 2em 2em;
  }

  [role='banner'] {
    padding: 0 0 0 6.65em;
    text-align: left;
  }
}
