a,
strong,
em {
  transition: .25s linear;
}

a {
  text-decoration: none;
  color: $secondary;

  &:visited {
    color: $secondary;
  }

  &:hover {
    color: $actionable;

    strong {
      border-bottom: 1px dotted $actionable;
      color: inherit;
    }

    em {
      color: $actionable;
    }
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}

strong {
  font-weight: normal;
}

em {
  font-style: normal;
  color: $dark;
}
