dl {
  margin: 1em 0;
  border-top: 1px solid $subtle;
  padding: 1em 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0;
  padding: .2em 0;
}

@media #{$alpha} {
  dd {
    padding: 0;
  }
}

@media #{$bravo} {
  dl {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
  }

  dt {
    align-self: flex-start;
    font-weight: normal;
  }

  dd {
    width: 20.75em;

    &:first-of-type {
      margin-top: -1.4em;
    }
  }
}

@media  #{$zulu} {
  dl {
    &:first-child {
      margin-top: 0;
      border-top-width: .2em;
      border-top-color: $dark;
    }

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}
